{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "not ie < 11",
          "Firefox >= 52",
          "Chrome >= 57",
          "Safari >= 10.1",
          "Opera >= 44",
          "iOS >= 10.3"
        ]
      },
      "module": false
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "syntax-async-functions",
    "transform-regenerator"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
